[Unit]
Description=thanos sidecar
Documentation=thanos sidecar
[Service]
ExecStart=/usr/local/monitor/thanos-0.11.0.linux-amd64/thanos sidecar \
  --tsdb.path=/usr/local/monitor/prometheus-2.15.2.linux-amd64/data \
  --prometheus.url=http://localhost:9090 \
  --grpc-address=0.0.0.0:10901 \
  --http-address=0.0.0.0:10902
[Install]
WantedBy=multi-user.target