[Unit]
Description=thanos query
Documentation=thanos query
[Service]
ExecStart=/usr/local/monitor/thanos-0.11.0.linux-amd64/thanos query \
  --grpc-address=0.0.0.0:10901 \
  --http-address=0.0.0.0:9090 \
  --query.auto-downsampling \
  --query.partial-response \
  --query.replica-label=prometheus_replica \
  --query.replica-label=rule_replica \
  --store=192.168.219.128:10901 \
  --store=192.168.219.128:10908 \
  --store=192.168.219.161:32491 \
  --store=192.168.219.161:31531
[Install]
WantedBy=multi-user.target
